<h2>Choose a JSON file</h2>
<div><input type="file" #fileInput>
  {{ fileInput.value }}
  <button (click)="loadFile(fileInput)">Load</button>
</div>

<h2>JSON</h2>
<textarea rows="10" cols="50" disabled [ngClass]="{'json-changed': changed}">
{{ jsonToEdit | json }}
</textarea>

<h2>Make Changes</h2>
<h3>Codes to find</h3>
<textarea #codes (keyup)="generateCodesArray(codes.value, charToSplit.value)"></textarea>
<h3>Character used to split</h3>
<input #charToSplit (keyup)="generateCodesArray(codes.value, charToSplit.value)">
<h3>Your codes:</h3>
<div>{{ codesArray | json }}</div>
<h3>Value to change</h3>
<label>key<input #key></label><br/>
<label>new value<input #val></label>
<h3>Make the change</h3>
<button (click)="editJson(key.value, val.value)">Go</button>
<div *ngIf="errorMessage">{{errorMessage}}</div>
<div *ngIf="changed">now check it in the JSON view</div>
<h2>Save the JSON</h2>
<div>
  <button (click)="saveToFile()">Save</button>
</div>
